head
    title Lego Creations
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")

    link(rel="stylesheet", href="./components/angular-material/angular-material.css")
    link(rel='stylesheet', href='./components/angular-ui-select/dist/select.css')
    link(rel='stylesheet', href='./stylesheets/style.css')