//- nav
  ul
    //- li.home.hover(ui-sref="home")
      img(src='./images/home.png', height="50px", label="Home")
    li.hover(ui-sref="profile", ui-sref-active="active")
      img(src='./images/profile.png', label="Profile")
    li.hover(ui-sref="home", ui-sref-active="active")
      img(src='./images/home.png', label="Home")
    li.hover(ui-sref="upload", ui-sref-active="active")
      img(src='./images/upload.png', label="Upload")