//- md-toolbar
  h1.md-toolbar-tools
    span.md-flex Profile

md-tabs.md-accent.nav(md-selected='data.selectedIndex')
  md-tab#tab1(aria-controls='tab1-content')
    img(src="./images/icons/explore.svg", height="30px")
  md-tab#tab2(aria-controls='tab2-content') 
    img(src="./images/icons/profile.svg", height="30px")
  md-tab#tab3(aria-controls='tab3-content')
    img(src="./images/icons/upload.svg", height="30px", width="28px")

ng-switch.tabpanel-container.main(on='data.selectedIndex')
  #tab1-content(role='tabpanel', aria-labelledby='tab1', ng-switch-when='0', md-swipe-left='next()', md-swipe-right='previous()')
    md-tabs.homenav(md-selected="data.homeTab")
      md-tab#new(aria-controls="home-new-content") Popular
      md-tab#ideas(aria-controls="home-ideas-content") Ideas

    ng-switch(on='data.homeTab')
      #home-new-content(role='tabpanel', aria-labelledby='New', ng-switch-when='0')
        .search
          img(src="./images/icons/search.svg", height="20px")
          input(type="text", placeholder="Search")
        md-card(ng-repeat="item in uploads")
          img(ng-src="{{item.image}}", width="100%", style="max-height:250px", ui-sref="creation({id: $index})")
          h2(ng-bind="item.title", ui-sref="creation({id: $index})")
          p(ng-bind="item.description")
          div.a2a_kit.a2a_kit_size_32.a2a_default_style.right
            a
              img(ng-src="./images/icons/like{{item.liked ? 'd' : ''}}.svg", height="22px", style="margin-top:5px", ng-click="item.liked=!item.liked; like();", nc-class="{liked:item.liked}")
            a.a2a_button_facebook
            a.a2a_button_twitter
            a.a2a_button_google_plus 
          script(type="text/javascript", src="//static.addtoany.com/menu/page.js")
          md-divider
          md-item.comment(ng-repeat="comment in item.comments")
            md-item-content
              .md-tile-left
                img.face(src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Stalin_1902_Colour.jpg/220px-Stalin_1902_Colour.jpg")
              .md-tile-content
                p Sean Hangel
                p {{comment}}
          md-text-float(type="text", ng-model="item.newComment", label="Place a comment", ng-enter="postComment(item)")
          md-button.commentbutton(ng-click="postComment(item)") Post
      #home-new-content(role='tabpanel', aria-labelledby='New', ng-switch-when='1')
        md-item.idea(ng-repeat="item in ideas")
          md-item-content
            .md-tile-left
              img(ng-src="{{item.image}}")
            .md-tile-content
              h3 {{item.title}}
              p {{item.description}}
            .md-tile-right
              p.idealike.text-center(ng-click="item.liked=!item.liked; like();") 8 
                img(ng-src="./images/icons/like{{item.liked ? 'd' : ''}}.svg", height="22px", style="margin-top:5px", nc-class="{liked:item.liked}")
              md-button Read more
  #tab2-content.profile(role='tabpanel', aria-labelledby='tab2', ng-switch-when='1', md-swipe-left='next()', md-swipe-right='previous()')
    md-item
      md-item-content
        .md-tile-left
          img.face(src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Stalin_1902_Colour.jpg/220px-Stalin_1902_Colour.jpg")
        .md-tile-content
          h1 Sean Hangel
  #tab3-content(role='tabpanel', aria-labelledby='tab3', ng-switch-when='2', md-swipe-left='next()', md-swipe-right='previous()')
    

div(ng-if="data.selectedIndex==2", md-swipe-left='next()', md-swipe-right='previous()')
  md-tabs.homenav(md-selected="data.uploadTab")
    md-tab#creation(aria-controls="upload-creation") Creation
    md-tab#idea(aria-controls="upload-idea") Idea
  .inset.fullwidth
    h2 Upload creation
    md-text-float(type="text", ng-model="creation.name", label="Title")
    md-input-group.md-input-has-value
      label(style="margin-bottom:10px") Image
      img(ng-if="images > 0", src="./images/bart.jpg", height="80px", style="margin-right:10px")
      img(ng-if="images > 1", src="./images/bart_skate.jpg", height="80px", style="margin-right:10px")
      img(src="./images/icons/camera.svg", height="40px", ng-click="images = images+1")
    md-input-group.md-input-has-value
      label(style="margin-bottom:10px") Video
      img(ng-if="video", src="./images/bart_video.jpg", height="80px", ng-click="video = false")
      img(ng-hide="video", src="./images/icons/video.svg", height="40px", style="margin-top:10px", ng-click="video = true")
    md-text-float(type="text", ng-model="creation.description", label="Description", multiline)
    md-text-float(type="number", ng-model="creation.bricks", label="Bricks used")
    md-text-float(type="time", ng-model="creation.time", label="Time to complete")
    md-text-float(type="text", ng-model="creation.creator", label="Creator", ng-init="creation.creator='Sean Hangel'")
    .tags
      .tag(ng-repeat="item in creation.tags", ng-click="creation.tags.splice($index, 1)") {{item}}
    md-text-float(type="text", ng-model="creation.newTag", label="Add tags", ng-enter="addTag(creation)")
    md-button.md-raised.md-primary(style="width:100%") Upload 
      img(src="./images/icons/upload.svg", height="15px")

div.profile(ng-if="data.selectedIndex==1", md-swipe-left='next()', md-swipe-right='previous()')
  md-tabs.md-accent.secundair(md-selected='data.selectedProfile')
    md-tab#likes(aria-controls='profile-likes')
      span 5
      img(src="./images/icons/like.svg", height="16px")
    md-tab#comments(aria-controls='profile-comments')
      span 8
      img(src="./images/icons/comment.svg", height="16px")
    md-tab#uploads(aria-controls='profile-uploads')
      span 1
      img(src="./images/icons/upload.svg", height="16px")
  ng-switch.tabpanel-container(on='data.selectedProfile')
    #profile-likes(role='tabpanel', aria-labelledby='likes', ng-switch-when='0')
      .inset
        h2 Likes
        md-card(ng-repeat="item in uploads | filter:{liked:true}")
          img(ng-src="{{item.image}}", width="100%", style="max-height:250px")
          h2(ng-bind="item.title")
          p(ng-bind="item.description")
          div.a2a_kit.a2a_kit_size_32.a2a_default_style.right
            a
              img(ng-src="./images/icons/like{{item.liked ? 'd' : ''}}.svg", height="22px", style="margin-top:5px", ng-click="item.liked=!item.liked; like();", nc-class="{liked:item.liked}")
            a.a2a_button_facebook
            a.a2a_button_twitter
            a.a2a_button_google_plus 
          script(type="text/javascript", src="//static.addtoany.com/menu/page.js")
          md-divider
          md-item.comment(ng-repeat="comment in item.comments")
            md-item-content
              .md-tile-left
                img.face(src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Stalin_1902_Colour.jpg/220px-Stalin_1902_Colour.jpg")
              .md-tile-content
                p Sean Hangel
                p {{comment}}
          md-text-float(type="text", ng-model="item.newComment", label="Place a comment", ng-enter="postComment(item)")
          md-button.commentbutton(ng-click="postComment(item)") Post
    #profile-comments(role='tabpanel', aria-labelledby='comments', ng-switch-when='1')
      .inset
        h2 Comments
        md-card(ng-repeat="item in uploads | filter:{comments:'!undefined'}")
          img(ng-src="{{item.image}}", width="100%", style="max-height:250px")
          h2(ng-bind="item.title")
          p(ng-bind="item.description")
          div.a2a_kit.a2a_kit_size_32.a2a_default_style.right
            a
              img(ng-src="./images/icons/like{{item.liked ? 'd' : ''}}.svg", height="22px", style="margin-top:5px", ng-click="item.liked=!item.liked; like();", nc-class="{liked:item.liked}")
            a.a2a_button_facebook
            a.a2a_button_twitter
            a.a2a_button_google_plus 
          script(type="text/javascript", src="//static.addtoany.com/menu/page.js")
          md-divider
          md-item.comment(ng-repeat="comment in item.comments")
            md-item-content
              .md-tile-left
                img.face(src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Stalin_1902_Colour.jpg/220px-Stalin_1902_Colour.jpg")
              .md-tile-content
                p Sean Hangel
                p {{comment}}
          md-text-float(type="text", ng-model="item.newComment", label="Place a comment", ng-enter="postComment(item)")
          md-button.commentbutton(ng-click="postComment(item)") Post
    #profile-uploads(role='tabpanel', aria-labelledby='uploads', ng-switch-when='2')
      .inset
        h2 Uploads
//- .after-tabs-area(layout='row', layout-sm='column', layout-margin='', layout-align='left center')
    md-text-float(type='number', label='Selected Index', ng-model='data.selectedIndex')
    div(flex='')
    span Item Two: 
    md-checkbox(ng-model='data.secondLocked', aria-label='Disabled')
      | Disabled